

.tablaScroll{
    height: 250px;
    overflow-y:scroll;
    z-index: 100;
}


.tablaScroll::-webkit-scrollbar{
    width: 7px;
    background: #000;
}

.tablaScroll::-webkit-scrollbar-thumb{
    background: #747474f4;
    border-radius: 4px;
}