body{
    /*background: url('../../../assets/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color: rgb(255, 255, 255);*/
   

    font-family: Arial;
    
    padding: 200px;
}