

<body>
    <div class="container">
        <div class="caja-screen">
            <div class="app-title">
                <h1>Bienvenido a la clínica</h1>
                <p>Esta clínica cuenta con 6 consultorios actualmente, dos laboratorios y una sala de espera.</p>
                <p>Horarios de atención de la clínica en los días de semana son de 8:00 a 19:00 y los sábados de 8:00 a 14:00</p>
                <br>
                <img class="spinner" src="../../../assets/gifCarga.gif">
                <br>
                <button class="btn btn-outline-success" routerLink="/login">Ingresar</button>
            </div>
        </div>
    </div>
    
</body>
