body{
    /*background: url('../../../../assets/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color: rgb(255, 255, 255);*/
   

    font-family: Arial;
    
    padding: 150px;
}


.caja{
    margin: 20px auto;
    width: 1000px;
}

.caja-screen{
    background-color: #FFF;
    padding: 25px;
    border-radius: 5px;
}

.spinner{ 
    width: 550px;
    margin-left: 22%;
}