<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
            </ul>
            <div>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" routerLink="/home">Cancelar</button>
            </div>
        </div>
    </nav>
    <div class="card-group" *ngIf="!mostrarFinalizarTurno">
        <div class="card text-center text-white bg-dark" style="width: 25rem;">
            <div class="card-body" *ngIf="elegirEspecialidad">
                <h4 class="card-subtitle mb-2">Eliga Especialidad</h4>
                <div class="tablaScroll" #scrollframe>
                    <div class="list-group list-group-flush" *ngFor="let item of listadoEspecialidades">
                        <button type="button" class="btn btn-secondary list-group-item list-group-item-action"
                            (click)="ElegirEspecialidad(item.nombre)">{{item.nombre}}</button>
                    </div>
                </div>
            </div>

            <div class="card-body" *ngIf="elegirPaciente">
                <h4 style="text-align: center;"><i class="bi bi-arrow-left-square" style="text-align: left;"
                        (click)="this.SeleccionarOtraEspecialidad()"></i>Pacientes</h4>
                <div class="tablaScroll" #scrollframe>

                    <table class="table table-striped table-dark ">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Edad</th>
                                <th>Obra Social</th>
                                <th>Fecha</th>
                                <th>Foto</th>
                                <th>Estado</th>
                                <th colspan="4">Opciones</th>
                            </tr>
                        </thead>


                        <tbody *ngFor="let item of listadoTurnos">
                            <tr appEstados [estado]="item.estado"
                                *ngIf="item.especialidad == this.especialidadSeleccionada && item.especialista == this.auth.currentUser">
                                <td>{{item.nombrePaciente}}</td>
                                <td>{{item.apellidoPaciente}}</td>
                                <td>{{item.edadPaciente}}</td>
                                <td>{{item.obraSocialPaciente}}</td>
                                <td>{{item.fecha}}</td>
                                <img src={{item.fotoPaciente}} style="height: 50px; width: 50px;">

                                <!--Badge-->
                                <td *ngIf="item.estado == 'Pendiente'"><span
                                        class="badge badge-warning">Pendiente</span></td>
                                <td *ngIf="item.estado == 'Cancelado'"><span class="badge badge-danger">Cancelado</span>
                                </td>
                                <td *ngIf="item.estado == 'Realizado'"><span
                                        class="badge badge-primary">Realizado</span></td>
                                <td *ngIf="item.estado == 'Aceptado'"><span class="badge badge-success">Aceptado</span>
                                </td>
                                <td *ngIf="item.estado == 'Rechazado'"><span class="badge badge-dark">Rechazado</span>
                                </td>

                                <!--Botones-->
                                <td *ngIf="item.estado == 'Pendiente'">
                                    <button type="button" class="btn btn-outline-success"
                                        (click)="AceptarTurno(item)">Aceptar</button>
                                </td>
                                <td *ngIf="item.estado == 'Pendiente'"><button type="button"
                                        class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#ModalComentario"
                                        (click)="SetearTurnoModificar(item)">Rechazar</button></td>

                                <td *ngIf="item.estado == 'Aceptado'"><button type="button"
                                        class="btn btn-outline-danger" data-toggle="modal"
                                        data-target="#ModalCancelacion"
                                        (click)="SetearTurnoModificar(item)">Cancelar</button></td>

                                <td *ngIf="item.estado == 'Aceptado'"><button type="button"
                                        class="btn btn-outline-warning" (click)="CargarFinalizarTurno(item)">Finalizar
                                        Turno</button></td>

                                <td
                                    *ngIf="item.estado == 'Cancelado' || item.estado == 'Realizado' || item.estado == 'Rechazado'">
                                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#ModalFinal" (click)="SetearTurnoModificar(item)">Ver
                                        Reseña</button>
                                </td>

                            </tr>
                        </tbody>



                    </table>

                </div>
            </div>
        </div>
    </div>


    <!-- Input Comentario Rechazo-->
    <div class="modal fade" id="ModalComentario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Ingrese comentario por el rechazo del turno</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <input [(ngModel)]="comentario">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-danger" (click)="RechazarTurno()">Confirmar Rechazo</button>
                        <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Input Comentario Cancelacion-->
    <div class="modal fade" id="ModalCancelacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Ingrese comentario por la Cancelacion del turno</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <input [(ngModel)]="comentario">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-danger" data-dismiss="modal" (click)="CancelarTurno()">Confirmar
                            Cancelacion</button>
                        <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Input Comentario Finalizacion del Turno-->
    <div class="modal fade" id="ModalTerminarTurno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Ingrese un diagnostico o comentario</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <textarea class="form-control" aria-label="With textarea" [(ngModel)]="diagnostico"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-success" data-dismiss="modal"
                            (click)="CargarFinalizarTurno()">Finalizar
                            Turno</button>
                        <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Detalles Cancelado, Rechazado, Realizado-->
    <div class="modal fade" id="ModalFinal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">

        <div class="modal-dialog" role="document" *ngIf="this.auxTurno != null">
            <!--Cancelado-->
            <div *ngIf="this.auxTurno.estado == 'Cancelado'">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>El estado de este turno es: {{this.auxTurno.estado}}</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h5>Motivo de Cancelacion:</h5>
                        <p>{{this.auxTurno.motivoCancelacion}}</p>
                        <br>
                        <h5>Fecha:</h5>
                        <p>{{this.auxTurno.hora}} {{this.auxTurno.fecha}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>


            <!--Rechazado-->
            <div *ngIf="this.auxTurno.estado == 'Rechazado'">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>El estado de este turno es: {{this.auxTurno.estado}}</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h5>Motivo de Rechazado:</h5>
                        <p>{{this.auxTurno.comentarioEspecialista}}</p>
                        <br>
                        <h5>Hora y Dia:</h5>
                        <p>{{this.auxTurno.hora}} {{this.auxTurno.fecha}}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>

            <!--Realizado-->
            <div *ngIf="this.auxTurno.estado == 'Realizado'">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>El estado de este turno es: {{this.auxTurno.estado}}</h5>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h5>Comentario dejado por el Especialista:</h5>
                        <p>{{this.auxTurno.resenia}}</p>
                        <br>
                        <h5>Hora y Dia:</h5>
                        <p>{{this.auxTurno.hora}} {{this.auxTurno.fecha}}</p>

                        <!--Agregar info del diagnostico-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-toggle="modal" data-target="#ModalAtencion" class="btn btn-primary"
                            *ngIf="this.auxTurno.estado == 'Realizado' && this.auxTurno.comentarioAtencion != null">Calificar
                            Atencion</button>
                        <button class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="caja" *ngIf="mostrarFinalizarTurno">
        <div class="caja-screen">
            <h3 style="text-align: center;">Finalizar Turno</h3>
            <div class="row">
                <div class="col">
                    <p>Altura:</p>
                    <input type="number" placeholder="Altura" [(ngModel)]="nuevaHistoriaClinica.altura">
                </div>
                <div class="col">
                    <p>Peso:</p>
                    <input type="number" placeholder="Peso" [(ngModel)]="nuevaHistoriaClinica.peso">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Temperatura:</p>
                    <input type="number" placeholder="Temperatura" [(ngModel)]="nuevaHistoriaClinica.temperatura">
                </div>
                <div class="col">
                    <p>Presion:</p>
                    <input type="number" placeholder="Presion" [(ngModel)]="nuevaHistoriaClinica.presion">
                </div>
            </div>
            <br>
            <p class="text-muted" style="text-align: center;">Agregar otros datos:</p>
            <div class="row">
                <div class="col">
                    <p>Nombre:</p>
                    <input type="text" placeholder="Nombre del dato" [(ngModel)]="nuevoDato">
                </div>
                <div class="col">
                    <p>Valor:</p>
                    <input type="text" placeholder="Valor del dato agregado" [(ngModel)]="nuevoValor">
                </div>
                <button class="btn btn-primary" style="font-size: 30px;" (click)="AgregarDatoDinamico()"><i
                        class="bi bi-plus"></i></button>
            </div>

            <p class="text-muted" style="text-align: center;">Datos agregados:</p>
            <div *ngFor="let item of nuevaHistoriaClinica.datosDinamicos">
                <p>{{item.nombre}}: {{item.valor}}</p>
            </div>

            <div class="row">
                <div class="col">
                    <p>Diagnostico:</p>
                    <input type="text" [(ngModel)]="nuevaHistoriaClinica.diagnostico">
                </div>
                <div class="col">
                    <p>Reseña:</p>
                    <input type="text" [(ngModel)]="resenia">
                </div>

            </div>
            <br>
            <button class="btn btn-success btn-lg" style="margin-left: 5%;"
                (click)="AceptarFinalizarTurno()">Aceptar</button>
            <button class="btn btn-danger btn-lg" style="margin-left: 70%;"
                (click)="CancelarFinalizarTurno()">Cancelar</button>

        </div>
    </div>

</body>